@media all and (max-width: 1536px) {




    /* 2-section */
    .locations-cloud {
        width: 966px;
        height: 521px;
    }

    .locations-header {
        font-size: 4.4rem;

    }

    .locations-subheader {
        font-size: 2.6rem;
    }
}